# General
DEBUG = True
SECRET_KEY = 'change-me'
ALLOWED_HOSTS = '*'

# Database
DB_ENGINE = 'django.db.backends.sqlite3'
DB_NAME = 'db.sqlite3'
#DB_ENGINE = 'django.db.backends.mysql'
#DB_NAME = 'mysqldb'
DB_USER = ''
DB_PASSWORD = ''
DB_HOST = ''
DB_PORT = '3066'